<table>
    <thead>
        <tr>
            <th>Phone</th>
            <th>Name</th>
            <th>Delivery Date</th>
            <th>Delivery Time</th>
            <th>Items</th>
            <th>Address</th>
            <th>Location</th>
            <th>Total</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead>
    <tbody>
        <%= render @orders %>
    </tbody>
</table>
